/* DEFAULT */
.scroll-h {
  overflow: hidden;
}

.scroll-y {
  overflow-x: hidden;
  overflow-y: auto;
}

.scroll-x {
  overflow-x: auto;
  overflow-y: hidden;
}

.scroll-y::-webkit-scrollbar,
.scroll-x::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

.text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.children-hover {
  & button,
  & a {
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }
}

.position-fixed {
  position: fixed;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}
 
.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.display-grid {
  display: grid;
}

.position-inset-inherit {
  position: inherit;
  inset: inherit;
}

/* LOADER  */
.element-loader {
  --pixel: 45px;
  --color: #000000;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.element-loader::before {
  content: "";
  width: var(--pixel);
  height: var(--pixel);
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid var(--color);
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
